AI_RESCUE_API_HOST=0.0.0.0
AI_RESCUE_API_PORT=8000
AI_RESCUE_PUBLIC_ORIGIN=https://doubleclick.lab.cbnu.ac.kr
AI_RESCUE_LOCAL_ORIGIN=http://192.168.0.10:8080
AI_RESCUE_HOST_DATA=${HOME}/AI_Rescue_Box/data/host

AI_RESCUE_HOST_IP=192.168.0.10
AI_RESCUE_FLUTTER_PORT=8080
AI_RESCUE_API_BASE_URL=http://192.168.0.10:8000

AI_RESCUE_UWB_PORT=/dev/ttyACM0
AI_RESCUE_UWB_BAUDRATE=460800
AI_RESCUE_UWB_SPOOL=${HOME}/AI_Rescue_Box/data/uwb_spool
ROS_LOCALHOST_ONLY=1
