AI_RESCUE_API_HOST=0.0.0.0
AI_RESCUE_API_PORT=8001
AI_RESCUE_PUBLIC_ORIGIN=https://doubleclick.lab.cbnu.ac.kr
AI_RESCUE_LOCAL_ORIGIN=http://192.168.0.11:8081

AI_RESCUE_JETSON_IP=192.168.0.11
AI_RESCUE_FLUTTER_PORT=8081
AI_RESCUE_API_BASE_URL=http://192.168.0.11:8001
AI_RESCUE_JETSON_CONFIG=${HOME}/AI_Rescue_Box/src/uwb/jetson_app/config/default.yaml

AI_RESCUE_UWB_PORT=/dev/ttyACM0
AI_RESCUE_UWB_BAUDRATE=460800
AI_RESCUE_UWB_SPOOL=${HOME}/AI_Rescue_Box/data/uwb_spool
ROS_LOCALHOST_ONLY=1
